/* STYLE HEADER */

.under-container  {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-Color) ;
    padding: 10px 0px;
} 

.logo img  {
   width: 60%;
} 

.nav-bar ul {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

.nav-bar li, a {
  text-decoration: none;
  list-style: none;
  color: white;
 
}

.nav-bar button {
    border-radius: 10px;
    border: none;
    padding: 8px 8px;
}

#menu-icon .fa-bars {
    display: none;
    color: white;
    font-size: 30px;
 
}

/* STYLE SECTION FEATURES */

.card {
   max-width: 100%;
   width: 60%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.box {
    padding-top: 40px;
    width: calc((100% / 3) - 20px);
    margin: 8px 0px;
    background-color: var(--primary-Colorlight);
}

.card .box:first-child {
    width: 66%;
}

.big-box {
    display: flex;
    justify-content: flex-end;
}

.box-img img {
    width: 70%;
    object-fit: cover;
}

.box-img {
    display: flex;
    justify-content: center;
    width: 80%;
}

.box-info {
   width: 100%;
   padding: 0px 5px;
}

.box-info p {
    font-size: 14px;
    width: 100%; 
    margin: 0 auto;
    color: #333333;
    padding: 10px 10px;
    line-height: 20px;
    text-align: start;
}

.box-info .big-info {
   color: var(--primary-Color);
   text-align: start;
   padding-left: 10px;
}

.big-info:nth-child(2) {
    color: #333333;
 }

.box-info h5 {
    text-align: center;
 }

 .box-info p {
    text-align: center;
    padding: 15px 0p;
 }

 .box-info .fa-solid {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card  button {
    background-color: var(--primary-Color);
    font-size: 13px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 40px;
 }

 .card .fa-apple  {
    color: white;
    padding: 0px 5px;
 }

 .card  .left {
    color: white;
    padding: 0px 5px;
 }

/* STYLE SECTION PLANNING */

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 60%;
    margin: 0 auto;
}

.planning-box-img img {
    width: 80%;
    padding: 70px 0px;
}

.planning-box-img p, h3 {
    text-align: start;
    color: white;
}

.box-white {
    background-color: white;
    margin-left: 20px;
    margin-top: 200px;
    border-radius: 40px;
    max-width: 100%;
    width: 100%;
}

.box-white img {
  width: 100%;
  padding: 20px 40px;
}

.box-white  p, .box-white  h3 {
   color: black;
   text-align: center;
   font-weight: bold;
}

.bottom-img2 {
    padding: 0px 20px;
}

.bottom-img1 {
    padding: 0px 20px;
    width: 75%;
}

.bottom-img1 h3{
    padding: 15px 0px;
    font-size: 30px;
}

.fa-arrow-down {
    color: black;
    margin-left: 90px;
    background-color: var(--secondary-Color);
    border-radius: 50%;
    font-size: 15px;
    padding: 15px 17px;
}

/* STYLE SECTION PARTNERS */

.container-infoPartner h2, p {
    text-align: center;
    padding: 10px 0px;
}

.container-infoPartner h2 {
    color: var(--secondary-Color);
    font-size: 35px;
}

.container-infoPartner P:first-child {
    font-size: 20px;
    font-weight: lighter;
}

.photo img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 0px 10px;
}

.info-partner {
    line-height: 20px;
    width: 100%;
    margin-left: 30px;
}

.info-partner p, h6 {
    font-size: 15px;
    text-align: start;
    color: white;
}

.virgolette {
    color: white;
    font-size: 30px;
}

.partner-box {
    background-color: var(--secondary-Color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 30px;
}

#partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* STYLE SECTION BENEFIT */

.container-benefit-box {
     width:60% ;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding: 20px 0px;
}

.benefit-box {
    margin: 10px 0px;
    background-color: white;
    width: calc((100% / 3) - 20px);
    border-radius: 20px;
    color: var(--secondary-Color);
    padding: 30px 0px;
}

.benefit-box h3 {
    font-size: 50px;
    color: var(--secondary-Color);
    padding: 0px 20px;
}

.benefit-box h6 {
    font-size: 20px;
    color: var(--secondary-Color);
    padding: 0px 20px;
    line-height: 10px;
}

.benefit-box p {
    font-size: 10px;
    color: var(--secondary-Color);
    padding: 20px 20px;
    text-align: start;
    
}

.benefit-box button {
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: var(--secondary-Color);
    color: white;
    padding: 5px 40px;
}

/* STYLE SECTION ABOUT US*/

.box-about-us {
    padding: 20px 10px;
}

.box-about-us img {
    object-fit: cover;
    width: 200px ;
    height: 200px;
    border-radius: 50%;
}

.box-about-us h2 {
    color: var(--secondary-Color);
    font-size: 40px;
    text-align: start;
}

.box-about-us p {
  text-align: start;
  width: 80%;
  padding: 20px 0px;
}

.box-about-us h5 {
    color: var(--secondary-Color);
    width: 80%;
    line-height: 25px;
}

.box-about-us button {
    background-color: var(--secondary-Color);
    margin-top: 20px;
    
}

.box-about-us .fa-linkedin {
    color: white;
}
  
 /* STYLE SECTION GET STARTED */

 .container-get-started  {
    text-align: center;
}

.container-get-started p {
    color: #d4d3f4;
    font-size: 10px;
    width: 20%;
    margin: 0 auto;
}

.container-get-started h4 {
    color: white;
    font-size: 25px;
}

.container-get-started h2 {
    color: #fdc15f;
    font-size: 50px;
}

.container-get-started a {
      color: var(--secondary-Color);
      font-size: 10px;
}

.container-get-started button {
    padding: 10px 30px;
    border-radius: 20px;
    margin: 5px 0px;
}

/* STYLE SECTION FOOTER */

.container-footer {
    background-color:#333333;
}

.container-footer p {
     font-size: 10px;
     width: 30%;
     margin: 0 auto;
     color: white;
}

.container-footer a {
    color: var(--secondary-Color);
    text-decoration: underline;
}



